%table
  %tr
    %th Title
    %th Body Text
    %th{style: "width: auto;"} Action
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.body
      %td
        = link_to 'Show Article', article, class: 'btn btn-warning'
        = link_to 'Edit Article', edit_article_path(article), class: 'btn btn-primary'
        = link_to 'Delete', article_path(article), method: :delete, remote: true, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
    - if @articles.size == 0
      %tr
        %td.center{colspan: "5"} Sorry: There are currently no users to display.

= link_to 'New Article', new_article_path