= form_tag(articles_path, :method => "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search Posts" 
  = submit_tag "Search", class: "btn btn-primary"

%h3{style: "text-align: center"} Welcome to the Articles Page
.add-button
  = link_to 'New Article', new_article_path, class: 'btn btn-primary'
  = link_to 'Subscribe', '#', class: 'btn btn-default', data: {toggle: 'modal', target: '#userSignUp'}

%table.table.table-bordered
  %tr
    %th{style: "text-align: center"} Title
    %th{style: "text-align: center"} Body Text
    %th{style: "width: auto; text-align: center"} Action
  - @articles.each do |article|
    %tr
      %td{style: "text-align: center"}= article.title
      %td{style: "text-align: center"}= article.body
      %td{style: "text-align: center"}
        = link_to 'Show Article', article, class: 'btn btn-warning'
        = link_to 'Edit Article', edit_article_path(article), class: 'btn btn-primary'
        = link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
    - if @articles.size == 0
      %tr
        %td.center{colspan: "5"} Sorry: There are currently no users to display.


.modal.fade#userSignUp
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          &times;
        %h4.modal-title
          %p{style: "text-align: center"} Please enter your email address:
      = bootstrap_form_for (User.new), url: users_path do |f|
        .modal-body
          = f.text_field :first_name, placeholder: 'FirstName', required: true
          = f.text_field :last_name, placeholder: 'LastName'
          = f.text_field :email, placeholder: 'EmailAddress', required: true
        .modal-footer
          = f.submit "Submit", class: 'btn btn-primary'
          = link_to 'Back', articles_path, class: 'btn btn-default'