.user-from
  = bootstrap_form_for @user, url: users_path, remote: true do |f|
    = f.text_field :first_name
    = f.text_field :last_name
    = f.text_field :email
    = f.submit "Submit", class: 'btn btn-primary'
    = link_to 'Back', articles_path, class: 'btn btn-default'

