%nav.navbar.navbar-default
  %ul.nav.navbar-nav
    %li.active
      = link_to 'Home', root_path
      %span.sr-only
    %li.nav-item
      = link_to 'New Article', new_article_path, class: 'nav-link'
    %li.nav-item
      = link_to 'Subscribe', new_user_path, class: 'nav-link', remote: true
  %form.navbar-form.navbar-right
    = bootstrap_form_tag(url: articles_path, method: "get") do |f|
      = f.text_field :search, placeholder: "Search Article", hide_label: true
      = f.submit "Search", class: "btn btn-primary"
